atom.symlink/.apm
atom.symlink/.git-history
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store/
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/recovery
atom.symlink/snapshot-cache
atom.symlink/storage
atom.symlink/themes
atom.symlink/git-time-machine
atom.symlink/split-diff

aws.symlink/credentials

config.symlink
