"*":
  "atom-beautify":
    executables:
      "php-cs-fixer":
        path: "/usr/local/bin/php-cs-fixer"
    general:
      _analyticsUserId: "798dbaa8-dc67-4fa3-aa15-738312108e7e"
    php: {}
    vue:
      default_beautifier: "Prettier"
  "autocomplete-plus": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "jslint"
      "whitespace"
      "language-mustache"
      "atom-language-velocity"
      "atom-dynamic-macro"
      "platformio-ide-terminal"
      "platformio-ide-debugger"
      "platformio-ide"
      "tool-bar"
      "atom-handlebars"
      "atom-autocomplete-php"
      "atom-increment"
      "atom-keyboard-macros"
      "autocomplete-clang"
      "autocomplete-json"
      "autoprefixer"
      "blade-snippets"
      "build"
      "color-picker"
      "git-history"
      "git-time-machine"
      "jump-to-import"
      "language-spacebars"
      "laravel"
      "laravel-forms-bootstrap-snippets"
      "linter-gcc"
      "open-git-modified-files"
      "open-recent"
      "open-this"
      "php-composer-completion"
      "php-hyperclick"
      "serverless-dashboard"
      "show-origin"
      "php-cs-fixer"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "node_modules"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "da12a123-0b08-19c5-f3af-964885fa16c4"
  "file-icons":
    coloured: false
  "git-log": {}
  linter: {}
  "linter-eslint": {}
  "linter-ui-default":
    useBusySignal: false
  "markdown-preview": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    executeOnSave: true
    fixerArguments: [
      "--using-cache=false"
      "--no-interaction"
      "--verbose"
    ]
  "php-fmt":
    executablePath: "/Users/trevor/projects/php-fmt/fmt.phar"
    phpExecutablePath: "/usr/local/Cellar/php@7.1/7.1.19/bin/php"
  pigments:
    autocompleteSuggestionsFromValue: true
    sassShadeAndTintImplementation: "bourbon"
  "prettier-atom":
    formatOnSave: true
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: false
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  "todo-show":
    findTheseTodos: [
      "FIXME"
      "TODO"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "TESTING"
    ]
    showInTable: [
      "Text"
      "Type"
      "File"
      "Line"
    ]
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 8
    neverCloseUnsaved: true
".basic.html.text":
  editor:
    preferredLineLength: 100
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
".coffee.source":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
".editorconfig.source":
  editor:
    preferredLineLength: 100
".html.spacebars.text":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
